
body{
    margin: 0;
    padding: 0;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-image: linear-gradient(to right, pink, rgb(255, 91, 118));
    color: white;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}


.agora{
    border: 2px solid white;
    background-color: white;
    transition: 1.5s;
    border-radius: 3px;
    padding-bottom: 1px;
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

.title_user{
    float: left;
    display: flex;
    width: 155px;
    align-items: center;
    justify-content: space-between;
}

.title_user p{
    margin: 0;
    font-size: 17px;
}

.help_logout{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    width: 90px;
}

.help_logout button{
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.img_navbar{
    float: left;
    width: 45px;
    height: 45px;
    margin: 0;
    background-image: url(../assets/img/bg_gris_content3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 60%;
    background-color: white;
}

.img_navbar_footer{
    float: left;
    width: 80px;
    height: 80px;
    margin: 0;
    background-image: url(../assets/img/bg_gris_content2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 60%;
    background-color: white;
}

.navbar {
    display: flex;
    list-style-type: none;
    width: 400px;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
}


.banner{
    background-image: linear-gradient(to right, pink, rgb(255, 91, 118));
    height: 500px;
    display: flex;
}

.banner .container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    align-items: flex-end;
}

.banner_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 400px;
}

.banner_content img{
    width: 470px;
    height: 400px;
}

.title_banner{
    margin: 0;
    font-size: 100px;
    color: white;
}


.footer_index{
    height: 150px;
    background-image: linear-gradient(to right, pink, rgb(255, 91, 118));
    justify-content: center;
    display:flex;
}


.footer_index .container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.contact_footer{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.icons_footer{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.title_footer{
    font-size: 15px;
    margin: 0;
}

.a_navbar{
    color: white;
    text-decoration: none;
}

.icons_navbar{
    width: 20px;
    height: 20px;
}

.icon_logout_navbar{
    width: 25px;
    height: 25px;
    padding-top: 3px;
}

.footer{
    display: flex;
    width: 90%;
    margin: 0 auto;
    background-color: red;
}

.conteudo_gris{
    margin-top: 4%;
    /*background-color: black;*/
    height: 400px;
}

.conteudo_gris .container{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.text_content {
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 2px solid rgb(255, 91, 118);*/
}

.img_content {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    background-image: linear-gradient(to right, pink, rgb(255, 91, 118));
    width: 25%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/icons/forest_friend_icon.jpg);
}


body::-webkit-scrollbar{
    width: 12px;
    background-color:rgb(255, 91, 118);
}

body::-webkit-scrollbar-thumb{
    border: 3px solid rgb(255, 91, 118);
    background-color: pink;
    border-radius: 5px;
}

.title_text{
    text-align: center;
    font-size: 45px;
    color: rgb(255, 91, 118);
}

.title_text p{
    margin: 0;
}

.text_t1{
    margin-top: 40px;
}

.text_t1 i{
    margin: 0;
    font-size: 25px;
}

.img_content2{
    margin: 0;
    width: 27%;
    height: 100%;
    background-size: cover;
    background-position: right;
    background-image: url(../assets/img/bg_gris_content2.jpg);
}

.inicio_content{
    display: none;
    width: 100%;
    height: 300px;
    /*box-shadow: 2px 4px 40px 2px rgb(0, 0, 0, 0.2);*/
}

.inicio_content .container{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}


.icon_help_navbar{
    width: 25px;
    height: 25px;
}

.cliq_here{
    width: 300px;
    height: 35px;
    margin-top: 15px;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cliq_here button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cliq_here p{
    float: left;
    margin: 0;
    color: #ff5b76;
    font-size: 20px;
}

.div_home{
    margin-left: 10px;
    display: flex;
    width: 60%;
    height: 280px;
    background-color: white;
    /*overflow-y: scroll;*/
    border-radius: 3px;
    box-shadow: 2px 4px 40px 2px rgb(0, 0, 0, 0.2);
}

.div_help{
    margin-left: 10px;
    display: flex;
    width: 180px;
    height: 250px;
    background-color: white;
    flex-direction: column;
    /*overflow-y: scroll;*/
    border-radius: 3px;
    box-shadow: 2px 4px 40px 2px rgb(0, 0, 0, 0.2);
}

.help_item{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.help_item p{
    margin: 5px;
    float: left;
}

.icons_help{
    width: 25px;
    height: 25px;
    padding-left: 5px;
}

.title_menu_help{
    height: 40px;
    color: #ff5b76;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title_menu_help p{
    margin: 0;
}

.title_home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.title p{
    margin: 0;
    font-size: 35px;
    color: #ff5b76;
}

.title{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.hom_img{
    width: 38%;
    height: 100%;
    background-image: url(../assets/img/bg_gris_content4.jpg);
    background-position: right;
    background-size: cover;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}


.hom2_img{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hom2_img button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.hom2_img img{
    width: 35px;
    height: 35px;
}


.text_hom{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}


.img_content3{
    margin: 0;
    width: 27%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url(../assets/img/bg_gris_content7.jpg);
}


.cenarios_img{
    width: 100%;
    height: 100%;
    display: flex;
    /*background-color: yellow;*/
    align-items: center;
    justify-content: flex-start;
}

.img1_cenario{
    width: 47%;
    height: 90%;
    background-color: red;
    margin-right: 10px;
    background-image: url(../assets/img/img_cenario.png);
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

.img2_cenario{
    width: 47%;
    height: 90%;
    background-color: blue;
    margin-left: 10px;
    background-image: url(../assets/img/img_cenario4.jpg);
    background-size: cover;
    background-position: left;
    border-radius: 3px;
}

.conteudo_gris2{
    margin-top: 10%;
    /*background-color: yellow;*/
    height: 400px;
}

.conteudo_gris2 .container{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


.img_content4{
    margin: 0;
    width: 27%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-image: url(../assets/img/bg_gris_content6.jpg);
}

.videos_wh{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videos_wh video{
    width: 45%;
    height: 80%;
    margin-left: 10px;
    margin-right: 10px;
}


.content_me{
    height: 400px;
    margin-top: 5%;
}

.content_me .container{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.content_contact{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.image_contact{
    width: 250px;
    height: 250px;
    background-image: url(../assets/img/eu_img.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    display: flex;
}

.title_contact{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title_contact p{
    margin: 0;
    font-size: 45px;
    color: #ff5b76;
}

.text_contact{
    width: 60%;
    height: 250px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_rs{
    display: flex;
    justify-content: center;
}

.title_rs p {
    font-size: 25px;
    color: #ff5b76;
}

.contact_all{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web_icons{
    width: 50px;
    display: flex;
    justify-content: center;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 200px;
}

.web_icons img{
    width: 40px;
    height: 40px;
}