body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.body_img{
    background-image: url('../assets/img/bg_GRIS3.jpg');
    transition: 1s;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card_cadastro{
    width: 350px;
    height: 520px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 40px 0 rgb(0, 0, 0, 0.2);
}

.title_cadastro{
    display: flex;
    justify-content: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cadastro_p{
    font-size: 23px;
    margin: 0;
    margin-top: 10px;
}


form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form_menu{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: flex-end;
}

.icon_login{
    width: 20px;
    height: 20px;
}

.input_login{
    width: 75%;
    background-color: pink;
    height: 35px;
    border: none;
    padding-left: 5px;
    border-bottom: 1px solid black;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input_login::placeholder{
    color: black;
    padding-left: 5px;
}

.input_login:focus{
    background-color: white;
}

.icons_posic{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.icons_posic img{
    margin-bottom: 5px;
    margin-right: 3px;
}

.button_login{
    width: 80%;
    height: 35px;
    color: black;
    background-color: pink;
    outline: none;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 4px 40px 0 rgb(0, 0, 0, 0.2);
}

.button_login:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}

.card_erro{
    width: 270px;
    height: 35px;
    background-color: white;
    border: 0;
    border-bottom: 2px solid red;
    align-self: flex-start;
    margin-top: 16%;
    display: none;
    margin-left: 55%;
    transition: 1.5s;
    position: fixed;
}

.msg_erro{
    font-size: 18px;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg_redirecionar{
    font-size: 16px;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_redirecionar{
    width: 450px;
    height: 40px;
    background-color: white;
    border: 0;
    border-bottom: 2px solid green;
    align-self: flex-start;
    margin-top: 16%;
    display: none;
    margin-left: 63%;
    transition: 1.5s;
    position: fixed;
}

.icon_status{
    width: 27px;
    height: 27px;
    margin-right: 10px;
}

.validacao{
    font-size: 13px;
    margin: 0;
    margin-bottom: 16px;
}

.valid_span{
    color: green;
}

.erro_span{
    color: red;
}

.span_senha_media{
    color: rgb(255, 217, 0);
}

.gif_loading{
    width: 35px;
    height: 35px;
}