
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-image: linear-gradient(to right, pink, rgb(255, 91, 118));
    color: white;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
}

.header .container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}


.agora{
    border-bottom: 2px solid white;
    transition: 1.5s;
    padding-bottom: 2px;
}

.img_navbar{
    float: left;
    width: 45px;
    height: 45px;
    margin: 0;
    background-image: url(../assets/icons/forest_friend_icon.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 60%;
    background-color: white;
}

.img_navbar_footer{
    float: left;
    width: 80px;
    height: 80px;
    margin: 0;
    background-image: url(../assets/icons/forest_friend_icon.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 60%;
    background-color: white;
    border: 2px solid black;
}

.navbar {
    display: flex;
    list-style-type: none;
    width: 350px;
    align-items: center;
    justify-content: space-between;
}


.banner{
    background-image: linear-gradient(to right, pink, rgb(255, 91, 118));
    height: 500px;
    display: flex;
}

.banner .container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    align-items: flex-end;
}

.banner_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 400px;
}

.banner_content img{
    width: 500px;
    height: 400px;
}

.title_banner{
    margin: 0;
    font-size: 100px;
    color: white;
}


.footer_index{
    height: 150px;
    background-image: linear-gradient(to right, pink, rgb(255, 91, 118));
    display: flex;
    justify-content: center;
}


.footer_index .container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.contact_footer{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.icons_footer{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.title_footer{
    font-size: 20px;
    margin: 0;
}


