
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-image: linear-gradient(to right, pink, rgb(255, 91, 118));
    color: white;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.header .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}


.agora{
    border-bottom: 2px solid white;
    transition: 1.5s;
    padding-bottom: 2px;
}

.img_navbar{
    float: left;
    width: 45px;
    height: 45px;
    margin: 0;
    background-image: url(../assets/img/bg_gris_content2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 60%;
    background-color: white;
}

.img_navbar_footer{
    float: left;
    width: 80px;
    height: 80px;
    margin: 0;
    background-image: url(../assets/img/bg_gris_content2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 60%;
    background-color: white;
}

.navbar {
    display: flex;
    list-style-type: none;
    width: 400px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}


.banner{
    background-image: linear-gradient(to right, pink, rgb(255, 91, 118));
    height: 500px;
    display: flex;
}

.banner .container{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    align-items: flex-end;
}

.banner_content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 400px;
}

.banner_content img{
    width: 500px;
    height: 400px;
}

.title_banner{
    margin: 0;
    font-size: 100px;
    color: white;
}


.footer_index{
    height: 150px;
    background-image: linear-gradient(to right, pink, rgb(255, 91, 118));
    justify-content: center;
    display:flex;
}


.footer_index .container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.contact_footer{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.icons_footer{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.title_footer{
    font-size: 15px;
    margin: 0;
}

.a_navbar{
    color: white;
    text-decoration: none;
}

.icon_logout_navbar{
    width: 25px;
    height: 25px;
    padding-top: 5px;
}


.footer{
    display: flex;
    width: 90%;
    margin: 0 auto;
    background-color: red;
}

.conteudo_gris{
    margin-top: 4%;
    /*background-color: black;*/
    height: 400px;
}

.conteudo_gris .container{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.text_content {
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 75%;
    height: 100%;
    /*border: 2px solid rgb(255, 91, 118);*/
}

.img_content {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    background-image: linear-gradient(to right, pink, rgb(255, 91, 118));
    width: 25%;
    height: 100%;
    background-size: cover;
    background-image: url(../assets/icons/forest_friend_icon.jpg);
}


body::-webkit-scrollbar{
    width: 12px;
    background-color:rgb(255, 91, 118);
}

body::-webkit-scrollbar-thumb{
    border: 3px solid rgb(255, 91, 118);
    background-color: pink;
    border-radius: 5px;
}

.title_text{
    text-align: center;
    font-size: 45px;
    color: rgb(255, 91, 118);
}

.title_text p{
    margin: 0;
}